name: theta_design_system
description: Design system basics for Theta
version: 0.1.0

repository: https://github.com/buildwiththeta/buildwiththeta
homepage: https://buildwiththeta.com
issue_tracker: https://github.com/buildwiththeta/buildwiththeta/issues
documentation: https://docs.page/buildwiththeta/buildwiththeta

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  light_logger: ^0.0.3
  google_fonts: ^4.0.4
  equatable: ^2.0.5
  gap: ^3.0.0
  lottie: ^2.3.2
  flutter_colorpicker: ^1.0.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
